<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <h1>
              LISTA DE ELECTRODOMÉSTICOS
          </h1>
          <hr>
          <h2>Desde JQuery</h2>
          <hr>
          <div class="row">
              <div class="col-xs-12">
                  <table class="table striped" id="dataElectro">
                      <thead>
                            <th>#</th>
                            <th>Description</th>
                      </thead>
                      <tbody>
                        </tbody>
                  </table>
              </div>
          </div>
          <hr>
          <h2>Desde Servidor</h2>
          <hr>
          <div class="row">
              <div class="col-xs-12">
                  <table class="table stripped">
                    <thead>
                        <th>#</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        {#data}
                        <tr>
                            <td>{id}</td>
                            <td>{description}</td>
                        </tr>
                        {/data}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="/js/crm-01.js"></script>
  </body>
</html>